{% import "bootstrap/utils.html" as utils %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% extends "base.html" %} 
{% block title %}Login{% endblock %} 
{% block head_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock head_css%}
{% block body %}
{% include 'nav.html' %}
<div class="content-section">
  <br />
  {{ utils.flashed_messages() }}
  <br />
  <div class="center">
    <h1>Login to your account</h1>
    <br />
    {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
  </div>
</div>
{% endblock %}
