{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %} 
{% block title %}Register{% endblock %} 
{% block head_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock head_css%}
{% block body %}
{% include 'nav.html' %}
<div class="content-section">
  <div class="container">
    <br />
    {{ utils.flashed_messages() }}
    <div class="form-register">
      <h1>Register for an account</h1>
      <br />
      {{ wtf.quick_form(form) }}
    </div>
  </div>
</div>
{% endblock %}