<!-- app/templates/home/admin_dashboard.html -->

{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block head_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock head_css%}
{% block body %}
{% include 'nav.html' %}
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Admin Dashboard</h1>
          <h3>For administrators only!</h3>
          <hr class="intro-divider">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}