{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
{% include 'nav.html' %}
<div class="wrapper">
  <div class="row">
    <div class="intro-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1 class="display-4">Micro Services</h1>
          <h3 class="h3">DealersLink</h3>
          <hr class="intro-divider">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}