{% extends "base.html" %}
{% block title %}Ratings{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ratings.css') }}">
{% endblock %}

{% block body %}
<!-- Page Content -->
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Deal Ratings</h3>
              <form id="deal-ratings-form">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Used/New</label>
                  <select class="form-control" id="condition-select">
                    <option value="default" selected>Select condition</option>
                    <option>Used</option>
                    <option>New</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Year</label>
                  <select class="form-control" id="year-select">
                    <option value="" selected>Select a year</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Make {{makes[0]}}</label>
                  <select class="form-control" id="make-select">
                    <option value="" selected >Select a make</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Model</label>
                  <select class="form-control" id="model-select">
                    <option value="" selected >Select a model</option>
                  </select>
                </div>
                <button class="btn btn-lg btn-secondary btn-block btn-login text-uppercase font-weight-bold mb-2"
                  type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">
      <div id="incredible"></div>
      <div id="great"></div>
      <div id="good"></div>
      <div id="fair"></div>
      <div id="unknown"></div>

      <!--
      <div class="col-md-6 py-1">
        <div class="card">
          <div class="card-body">
            <canvas id="chLine"></canvas>
          </div>
        </div>
      </div>
       -->
    </div>
  </div>
</div>
<!-- /#wrapper -->

{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script>
  /* chart.js chart examples */

  // chart colors
  var colors = ['#007bff', '#28a745', '#333333', '#c3e6cb', '#dc3545', '#6c757d'];

  /* large line chart */
  var chLine = document.getElementById("chLine");
  var chartData = {
    labels: ["S", "M", "T", "W", "T", "F", "S"],
    datasets: [{
        data: [589, 445, 483, 503, 689, 692, 634],
        backgroundColor: 'transparent',
        borderColor: colors[0],
        borderWidth: 4,
        pointBackgroundColor: colors[0]
      }
      // {
      // data: [639, 465, 493, 478, 589, 632, 674],
      // backgroundColor: colors[3],
      // borderColor: colors[1],
      // borderWidth: 4,
      // pointBackgroundColor: colors[1]
      // }
    ]
  };
  if (chLine) {
    new Chart(chLine, {
      type: 'line',
      data: chartData,
      options: {
        scales: {
          xAxes: [{
            ticks: {
              beginAtZero: false
            }
          }]
        },
        legend: {
          display: false
        },
        responsive: true
      }
    });
  }
</script>
{% endblock %}