{% extends "base.html" %}
{% block title %}Ratings{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ratings.css') }}">
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
  crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous">
</script>
{% endblock %}

{% block body %}
<!-- Page Content -->
<div id="layoutSidenav_content">
  <main>
    <div class="container">
      <h1 class="mt-4">Deal Ratings</h1>
      <div class="row">
        <div class="col-xl-6">
          <div class="card mb-4">
            <div class="card-header">
              <i class="fas fa-search-dollar mr-1"></i>
              Search
            </div>
            <div class="card-body">
              <form id="deal-ratings-form">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Used/New</label>
                  <select class="form-control" id="condition-select">
                    <option value="default" selected>Select condition</option>
                    <option>Used</option>
                    <option>New</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Year</label>
                  <select class="form-control" id="year-select">
                    <option value="" selected>Select a year</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Make {{makes[0]}}</label>
                  <select class="form-control" id="make-select">
                    <option value="" selected>Select a make</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Model</label>
                  <select class="form-control" id="model-select">
                    <option value="" selected>Select a model</option>
                  </select>
                </div>
                <div class="d-flex flex-row">
                  <button class="btn btn-lg btn-secondary btn-login text-uppercase font-weight-bold mb-2 w-75"
                    type="submit">Search</button>
                  <button id="reset-button" type="button"
                    class="btn btn-lg btn-danger btn-login text-uppercase font-weight-bold mb-2 ml-2
                    w-25">Reset</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="card mb-4">
            <div class="card-header">
              <i class="fas fa-chart-bar mr-1"></i>
              Results
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Rating</th>
                      <th>Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Incredible Deals</td>
                      <td id="incredible-count" class="text-primary" style="cursor: pointer;">0</td>
                    </tr>
                    <tr>
                      <td>Great Deals</td>
                      <td id="great-count" class="text-primary" style="cursor: pointer;">0</td>
                    </tr>
                    <tr>
                      <td>Good Deals</td>
                      <td id="good-count" class="text-primary" style="cursor: pointer;">0</td>
                    </tr>
                    <tr>
                      <td>Fair Deals</td>
                      <td id="fair-count" class="text-primary" style="cursor: pointer;">0</td>
                    </tr>
                    <tr>
                      <td>Other Deals</td>
                      <td id="unknown-count" class="text-primary" style="cursor: pointer;">0</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table mr-1"></i>
          Vehicles
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Year</th>
                  <th>Make</th>
                  <th>Model</th>
                  <th>Series</th>
                  <th>Mileage</th>
                </tr>
              </thead>
              <tbody class="results-table">
                <tr>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<!-- /#wrapper -->

{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

{% endblock %}